* {
  padding: 0;
  margin: 0;
}
.menu-links li {
  list-style: none;
}

@media (max-width: 481px) {
  .header-menu {
    display: flex;
    padding: 0.8rem 0 1rem 1rem;
  }
  .menu-links li {
    padding: 0.3rem 0 0.3rem;
    border: 1px solid black;
  }
}
